body {
    margin: 0;
}

.window {
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 3px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.window__header {
    width: 100%;
    height: 40px;
    background-color: #50C7FF;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 5px;
    box-sizing: border-box;
    cursor: move;
}

.window__body  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
}

.folder {
    width: 19%;
    height: 20%;
    background: linear-gradient(to right, #FFE250, #FFF0A2);
    clip-path: polygon(0 0, 50% 0, 50% 15%, 100% 15%, 100% 100%, 0 100%);
    margin: 0 5px 5px 0;
}

.close {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.close__line {
    width: 18px;
    height: 2px;
    position: relative;
}

.close__line::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
}

.close__line::before {
    content: '';
    width: 18px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
    position: absolute;
}

.move {
    box-shadow: 0 0 10px 0 black;
}



/* modal */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.modal {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 50px;
}

.close__line_smaller::after{
    width: 15px;
    transform: rotate(45deg) translate(1px, -1px);
}

.close__line_smaller::before {
    width: 15px;
    transform: rotate(-45deg) translate(1px, 1px);
}

.help {
    color: red;
    opacity: 0;
}